<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crime Report</title>
    <link rel = "icon" href = "http://3.bp.blogspot.com/-PIshbKUBQYY/UTd250F5KnI/AAAAAAAAAQY/m_8Et9-zyns/s1600/NoCrimeZone.jpg" type = "image/x-icon">
    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
   
        <div class="container-fluid">
            
            <a class="navbar-brand" href="#">
                <img src="http://3.bp.blogspot.com/-PIshbKUBQYY/UTd250F5KnI/AAAAAAAAAQY/m_8Et9-zyns/s1600/NoCrimeZone.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Crime Report
              </a>
            
            </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav"> 
            </div>
          </div>
      </nav>
      <section class="bg-danger text-dark p-5 text-center">
        <div class="container">
            <center><h1> <span class="text-light">
                Dashboard 
            </span>
            </h1></center>  
    
        </div>
    </section>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
<br><br>
               <center>
                <div class="card" style="width: 18rem;">
                    <img src="https://www.kindpng.com/picc/m/368-3685978_admin-icon-gray-hd-png-download.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Admin</h3>
                      <h5 class="card-text">To Login as Admin</h5>
                      <a href="/adminlogin" class="btn btn-primary">Admin Login</a>
                    </div>
                  </div>
               </center>
            </div>
                  
<br>
<br>
<div class="col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">   
    <br>
    <br>
                  <center>
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.nicepng.com/png/detail/504-5044750_male-user-icon-ancient-asian-peace-symbol.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h3 class="card-title">User</h3>
                          <h5 class="card-text">To Login as User</h5>
                          <a href="/userlogin" class="btn btn-primary">User Login</a>
                        </div>
                      </div>
                  </center>
            </div>
<br>
<br>
<div class="col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
    <br>
    <br>
                  <center>
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.citypng.com/public/uploads/small/3163494658960sph4obyj9nhmdtvj6hp43eehbjake40kkqawxnvpr4kvh4qv2yxsfxmbf2ahxtgdsjwao1bftyicsrks0diqz1jkk2bokzqtvy.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h3 class="card-title">Guest</h3>
                          <h5 class="card-text">To Login as Guest</h5>
                          <a href="/guestreport" class="btn btn-primary">Guest Login</a>
                        </div>
                      </div>
                  </center>

            </div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>