{% extends "adminbase.html" %}
{% block content %}

<section class="bg-danger text-dark p-5 text-center">
    <div class="container">
        <center><h1> <span class="text-light">
            View All 
        </span>
        Crimes</h1></center>  

    </div>
</section>

<br>
<br>
<div class="container">
        <div class="row">
            {% for i in crimes %}
            <div class="col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
               
                <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                    <img src="https://previews.123rf.com/images/pandavector/pandavector1610/pandavector161004769/67670744-las-manos-en-icono-de-las-esposas-en-estilo-de-dibujos-animados-aislado-en-el-fondo-blanco-delincuen.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"> <center>Crime Report {{i[0]}}</center></h5>
                     
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item text-white bg-dark mb-3"><center><b>Description:</b></center></li>
                      <li class="list-group-item text-white bg-dark mb-3"><center>{{i[1]}}</center></li>
                      <li class="list-group-item text-white bg-dark mb-3"><center><b>Remarks:</b> </center> </li>
                      <li class="list-group-item text-white bg-dark mb-3"><center>{{i[2]}}</center></li>
                    </ul>
                    
                  </div>
                
                
        <br>
        <br>
            </div>
            {% endfor %}
            
        </div>
    
    </div>



    {% endblock %}